# Virtual Environment
venv/
.venv/
env/
ENV/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Django Specific
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# IDE and OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db
